${project.name}
===============

The Taglib Plug-in is a Maven plugin for jsp tag libraries developers.
It eases the generation, documentation and testing of jsp tag libraries.

Basic configuration
-------------------

Adds the following to your pom.xml to enable generation of taglib
reports:

```xml
  <reporting>
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
      </plugin>
    </plugins>
  </reporting>
```

This will trigger the generation of:

-   tldDoc documentation
-   a tag library validation report
-   a tag reference page

For advanced usage see the [usage](usage.html) section.